
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem 0;
}

.hero {
    background-image: url('images/il-vagabiondo-8eNt0CQamB0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

.about {
    background-color: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}

.tours {
    padding: 3rem 0;
    text-align: center;
}

.tour {
    margin-bottom: 2rem;
}

.tour img {
    max-width: 50%;
    
}

.contact {
    background-color: #333;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
